.matchWrapper {
  margin: 40px 0;

  background-color: #dae9e0;
  border-radius: 10px;
}

.buttonsWrapper {
  & img {
    margin-right: 16px;
  }

  .button {
    // Padding, margin
    padding: 11px 14px 11px 14px;

    // Styles
    background-color: transparent;
    border-radius: 10px;
    border: none;
    outline: none;

    // Font styles
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #777777;
    cursor: pointer;

    &:hover {
      background-color: #e8f4ec;
    }
  }

  .activeBtn {
    // Padding, margin
    padding: 11px 14px 11px 14px;

    // Styles
    background-color: #469264;
    border-radius: 10px;
    border: none;
    outline: none;

    // Font styles
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
  }
}

// Catalog of Matches
.matchResultWrapper {
  margin-bottom: 20px;
}

.matchHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.matchCommandsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Padding, margin
  padding: 10px 20px;

  width: 336px;

  background-color: #f4f5f7;
  border-radius: 10px 10px 10px 0px;

  & span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #000000;
  }

  & .commandName {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.matchDate {
  // Padding, margin
  padding: 4px 13px;

  background-color: #ffffff;
  border: 1px solid #f4f5f7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  & .matchTime {
    font-weight: bold;
  }
}

// Media queries
@media only screen and (max-width: 860px) {
  
}
