
.main_box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.verticalNav{
    width: 20%;
    background: #469264b4;
    height:calc(100vh - 104px) ;
}
.main_part{
    width: 80%;
    background-color: teal;
    height: auto;
}
.btn_wrapper{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.admin_btns{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid teal;
    color: black;
    background-color: transparent;
    transition:   .5s;
    cursor: pointer;
    &:hover{

        background-color: teal;
        color: #fff;
    }
}

// modal style

.myInput{
width: 100%;
margin: 0 auto;
border: none;
border-radius: 10px;
color: black;
padding: 10px 20px 10px  10px;
margin-top: 10px;
}

.add_btn{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: 1px solid teal;
    color: teal;
transition: .5s;
&:hover{
    background-color: teal;
    color: white;
}
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    width: 50%;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }